
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>About Us</h2>

<section class="main-content">				
    <div class="row">
        <div class="span5" style="padding-left: 30px">					
            <h4 class="title"><span class="text"><strong>Group</strong> 5</span></h4>
            
            <label>Tran Cong Khanh: 1411061236</label>
            <label>Ha Van Khanh: 1411061238</label>
            <label>Nguyen Van Loi: 1411061275</label>
            <label>Le Huynh Dong: 1411061140</label>

        </div>
    </div>
</section>