@model MyPetShop.ViewModels.PetViewModel
<nav id="menu" class="pull-right">
    <ul>

        @foreach (var category in Model.Categories)
        {
            <li>
                @{ var cateName = category.Id == 1 ? "Dog" : "Cat"; }
                <a href="">@cateName</a>
                <ul>

                    @foreach (var categoryPets in Model.CategoryPets)
                    {
                        if (categoryPets.CategoryId == category.Id)
                        {
                            <li><a href="@Url.Action("Products", "Pet", new {id = categoryPets.Id})">@categoryPets.Name</a></li>
                        }
                    }
                </ul>
            </li>
        }

    </ul>
</nav>